:root {
	--ff-primary: 'Nunito', 'Arial', 'Helvetica', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	overflow-y: overlay;
	color: var(--c-text-dark);
	font-family: 'Arial', 'Helvetica', sans-serif;
}

* {
	box-sizing: border-box;
}
